<div class="py-5">
  <div class="container">
    <div class="row">
      <%= render "partials/panel"%>
      <div class="col-md-9">
        <div class="card text-white p-5 bg-primary" >
          <div class="card-body">
            <h1 class="mb-3 text-center">Configuración</h1>
            <ul class="list-group">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: BootstrapFormBuilder, html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <label for="form17">Email</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>

                <div class="form-group"> 
                  <label for="form17">Nombre</label>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"Nombre", type:"text"%> 
                </div>
                <div class="form-group"> 
                  <label for="form17">Avatar</label>
                  <%= f.file_field :img, class:"form-control", type:"file"%> 
                </div>
                <div class="form-group"> 
                  <label for="form18">Edad</label>
                  <%= f.number_field :age, autofocus: true, autocomplete: "age", class:"form-control", placeholder:"Edad", type:"number"%> 
                </div>
                <div class="form-group"> 
                  <label for="form18">Estado</label>
                  <%= f.text_field :state, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"Estado", type:"text"%> 
                </div>
                <div class="form-group"> 
                  <label for="form18">Calle</label>
                  <%= f.text_field :street, autofocus: true, autocomplete: "Calle", class:"form-control", placeholder:"Calle", type:"text"%> 
                </div>
                <div class="form-group"> 
                  <label for="form18">Ciudad</label>
                  <%= f.text_field :city, autofocus: true, autocomplete: "Ciudad", class:"form-control", placeholder:"Ciudad", type:"text"%> 
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>

                <div class="actions">
                  <%= f.submit "Update" %>
                </div>
              <% end %>

              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

              <%= link_to "Back", :back %>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
