<div class="col-md-2" >
  <ul class="nav nav-pills flex-column my-2">
    <div class="card">
      <div class="card-body">
        
        <li class="nav-item">
          <%= link_to "Resumen", home_purchases_path, class: "nav-link fa fa-home fa-home" %>  
        </li>
        <li class="nav-item">
          <%= link_to "Administrador", home_administrator_path, class: "nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "Reputación", home_reputation_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Compras", home_purchases_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Productos", home_products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ventas", home_sales_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Configuración",edit_user_registration_path, class:"nav-link" %>
        </li>
      </div>
    </div>
  </ul>
</div>
