<div class="container">
  <div class="row">
    <div class="offset-md-1.col-md-10">
      <div class="card">
        <div class="card-body">
          <%= form_for @category, builder: BootstrapFormBuilder do |form| %>
            <div class="row">
            
              <%= form.label :name %>
              <%= form.text_field :name %>
            

            
              <%= form.label :description %>
              <%= form.text_field :description %>
            

            
              <%= form.label :Imagen %>
              <%= form.file_field :c_img %>
            

            
              <%= form.submit %>
            </div>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
