
<div class="container py-5">
  <div class="row my-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1>Categories</h1>

            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>C img</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @categories.each do |category| %>
                  <tr>
                    <td><%= category.name %></td>
                    <td><%= category.description %></td>
                    <td><%= image_tag category.c_img.url %></td>
                    <td><%= link_to 'Show', category, class:"btn btn-primary" %></td>
                    <td><%= link_to 'Edit', edit_category_path(category), class:"btn btn-primary" %></td>
                    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>  
            <br>
            <%if user_signed_in? && current_user.is_admin? %>
              <%= link_to 'New Category', new_category_path,  class:"btn btn-primary" %>
              <%= link_to 'Atras',  home_administrator_path,  class:"btn btn-primary" %>
            <%end%>
          </div>
        </div>
      </div>
  </div>
  <%= will_paginate @categories %>
</div>